
<div class="wrapper">
    <app-header></app-header>

    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Manage Forms
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Manage Form</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">You have 1 form(s).</h3>

                            <div class="mailbox-controls">

                                <!-- Check all button -->
                               
                                <!--<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div>
                                <!-- /.btn-group -->
                                <!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>-->
                                <div class="pull-right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-xs-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Form Ref</th>
                                            <th>Company</th>
                                            <th>Description</th>
                                            <th>Registered Address</th>
                                            <th>Purpose of Business</th>
                                            <th>OCO Assigned</th>
                                            <th>Form Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr  *ngFor="let entry of forms;let i = index ">

                                            <td><a href="/cac/entrys-of-premise/{{entry.idform}}">{{entry.formref}}</a></td>
                                            <td>{{entry.cname}}</td>
                                            <td>{{entry.descriptionofbusiness}}</td>
                                            <td>{{entry.registeredaddress}}</td>
                                            <td>{{entry.purposeofbusiness}}</td>
                                            
                                            <td><span class="badge bg-blue">{{entry.status}}</span></td>
                                     
               
                                        </tr>

                                    </tbody>

                                </table>
                                <div class="pull-right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>


                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>

<app-footer></app-footer>
