
<div class="wrapper">
    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Uploads for Entry of Premise
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Uploads Entry of Premise</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-box bg-gray">

                                <span class="info-box-icon"><i class="fa fa-pencil-square-o"></i></span>
                                <div class="info-box-content">

                                    <span class="info-box-number">1. Form Details</span>

                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%"></div>
                                    </div>
                                    <span class="progress-description">
                                        Fill form details
                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <div class="info-box bg-black">
                                <span class="info-box-icon"><i class="fa fa-newspaper-o"></i></span>

                                <div class="info-box-content">

                                    <span class="info-box-number">2. File Uploads</span>

                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%"></div>
                                    </div>
                                    <span class="progress-description">
                                        Upload files
                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Upload supporting documents</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form (ngSubmit)="Form41Attachment.form.valid &&  createForm41Folder()"  #Form41Attachment="ngForm" novalidate>
                            <div class="box-body">
                                <span><strong>Title</strong></span><br />
                                <input type="text" class="form-control" placeholder="Title of upload" required [(ngModel)]="attachment.title" name="title" #title="ngModel">

                                 <div *ngIf="Form41Attachment.submitted && !description.valid" class="alert alert-danger">
                    <strong>Oh snap!</strong> Document title is required</div>

                                <br />
                                <span><strong>Description</strong></span>
                                <input type="text" class="form-control" placeholder="Enter your description" required [(ngModel)]="attachment.description" name="description" #description="ngModel">

                                 <div *ngIf="Form41Attachment.submitted && !description.valid" class="alert alert-danger">
                    <strong>Oh snap!</strong> Document description is required</div>

                                <br />
                               <span><strong>Upload File</strong></span>
                                <input type="file" class="form-control"   [(ngModel)]="attachment.doc" name="doc" #doc="ngModel" (change)="addDocument($event)" accept=".jpg, .pdf" />

                                <!--  <div *ngIf="Form41Attachment.submitted && !doc.valid" class="alert alert-danger">
                    <strong>Oh snap!</strong> Document is required</div> -->
                               
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <!-- <button type="submit" class="btn btn-default">Add More</button> -->
                                  <button type="submit" class="btn btn-success">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.col -->
        </section>
    </div>
</div>

<app-footer></app-footer>
