
<div class="wrapper">
    <app-header></app-header>

    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Payment for form #NCS2993 license
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Make Payment</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="register-box">
                        <div class="register-logo">
                            <a href="#">BAM Payment</a>
                        </div>

                        <div class="register-box-body">
                         
                            <form>
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="Card number" />
                                    <span class="glyphicon glyphicon-subtitles form-control-feedback"></span>

                                </div>
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="MM/YY" required>
                                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>

                                </div>

                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="CVV" required>
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                                </div>
                                <div class="form-group has-feedback">
                                    <button type="submit" class="btn btn-success btn-block btn-flat">Make Payment</button>
                                </div>
                              
                                    <!-- /.col -->
                                  
                                    <!-- /.col -->
                             
                            </form>


                        </div>
                        <!-- /.form-box -->
                    </div>
                </div>
                </div>
            </section>
        </div>
    </div>
