  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/NCS/dist/img/bat.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>British American Tobacco</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>Profile</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
                 <a href="#">
                    <i class="fa fa-user"></i> <span>Excise Traders</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>

                 <a href="#">
                    <i class="fa fa-user"></i> <span>Form 41</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>

                 <a href="#">
                    <i class="fa fa-user"></i> <span>Manage Licences</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>

                 <a href="#">
                    <i class="fa fa-user"></i> <span>Manage Applications</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
               <!--  <ul class="treeview-menu">
                    <li><a href="/NCS/account/profile.html"><i class="fa fa-circle-o"></i>Excise Trader</a></li>
                    <li><a href="/NCS/account/oco.html"><i class="fa fa-circle-o"></i>OCO</a></li>
                    <li><a href="/NCS/account/cac.html"><i class="fa fa-circle-o"></i>CAC</a></li>
                    <li><a href="/NCS/account/hqteam.html"><i class="fa fa-circle-o"></i>HQ TEAM</a></li>
                    <li><a href="/NCS/account/dcg.html"><i class="fa fa-circle-o"></i>DCG</a></li>
                </ul> -->
            </li>

            

         
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
