  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/assets/dist/img/bat.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>British American Tobacco</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
      

            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-thin"></i>
                    <span>Excise Trader</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/entrys-of-premise"><i class="fa fa-circle-o"></i>Manage Form 41</a></li>
                    <li><a href="/manage-licences"><i class="fa fa-circle-o"></i>Manage Licenses</a></li>
                    <li><a href="/manage-registers"><i class="fa fa-circle-o"></i>Manage Registers</a></li>
                    <li><a href="/manage-ucas"><i class="fa fa-circle-o"></i>UCA</a></li>
               
                </ul>
            </li>


            <li class="treeview" *ngIf="roleAccess?.idrole===2">
                <a href="#">
                    <i class="fa fa-circle-thin"></i>
                    <span>Onsite Custom Officer</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/oco/manage-applications"><i class="fa fa-circle-o"></i>Manage Form 41</a></li>

                </ul>
            </li>


            <li class="treeview" *ngIf="roleAccess?.idrole===3">
                <a href="#">
                    <i class="fa fa-circle-thin"></i>
                    <span>Custom Area Comptroller</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/cac/entrys-of-premise"><i class="fa fa-circle-o"></i>Manage Form 41</a></li>
                    <li><a href="/cac/manage-assignments"><i class="fa fa-circle-o"></i>Manage Assignments</a></li>
                </ul>
            </li>

            <li class="treeview" *ngIf="roleAccess?.idrole===3">
                <a href="#">
                    <i class="fa fa-circle-thin"></i>
                    <span>HQ Team</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/hq/manage-applications"><i class="fa fa-circle-o"></i></a></li>

                </ul>
            </li>

            <li class="treeview" *ngIf="roleAccess?.idrole==='4'">
                <a href="#">
                    <i class="fa fa-circle-thin"></i>
                    <span>Deputy Comptroller General</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/dcg/manage-applications"><i class="fa fa-circle-o"></i>Manage Form 41</a></li>

                </ul>
            </li>

            <li class="header">Resources</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>News</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Documentation</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>About</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
